@media screen and (max-width: 768px) {


    #projects{
        flex-direction: column;
    }

    section {
        min-height: auto;
    }

    #contact{
        padding-top: 2rem;
    }
}